html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {
  --primary-color: #446900;
  --secondary-color: #586249;
  --background-color: #fefcf5;
  --text-color: #111f00;
  --link-color: #dce7c7;
  --secondary-container: #dce7c7;
  --hover: #c3f27e;
}

.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

/* .scrollable-right {
  position: relative;
  left: 250px;
  height: 100vh;
  overflow-y: scroll;
  z-index: 0;
  padding: 20px;
  background-color: var(--background-color);
} */

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-weight: bold;
  color: var(--primary-color);
}

a,
p {
  color: #201a1a;
  font-family: Georgia, serif;
}

/** this will conflict if we use several tooltips **/
.tooltip {
  color: var(--secondary-container);
  font-size: 12px;
  padding: 5px;
  position: absolute;
  visibility: hidden;
  z-index: 10;
}

.emotion-tooltip {
  color: var(--primary-color);
  font-size: 12px;
  padding: 5px;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  background: var(--background-color);
}
.timeline-tooltip {
  color: var(--primary-color);
  font-size: 12px;
  padding: 5px;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  background: var(--background-color);
}
.bubble-tooltip {
  color: var(--primary-color);
  font-size: 12px;
  padding: 5px;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  background: var(--background-color);
}
.bubble-text {
  font-family: Georgia, serif;
  color: var(--text-color);
  font-size: 8;
}

.tooltip-image {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
}

.tooltip-text p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* this breaks the scatterplot! */
circle {
  stroke: var(--text-color);
  stroke-width: 2px;
}

.wrap-text {
  white-space: normal !important;
  word-break: break-word;
}

.svg-container {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row {
  min-width: 400px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  text-align: left;
}

#navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #446900;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9999;
}

#book-info-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.8);
  box-sizing: border-box;
  align-content: center;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center align horizontally */
  justify-content: center; /* Center align vertically */
  z-index: 8;
}

.page.exit-left {
  animation-name: pageExitLeft;
}

.page.enter-left {
  animation-name: pageEnterLeft;
}

.page.exit-right {
  animation-name: pageExitRight;
}

.page.enter-right {
  animation-name: pageEnterRight;
}

@keyframes pageExitLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes pageEnterLeft {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pageExitRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}

@keyframes pageEnterRight {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

.page {
    padding-top: 70px;
    position: absolute;
    width: 80%;
    height: 100%;
    display: none;
    text-align: center;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center align horizontally */
    justify-content: center; /* Center align vertically */
    background-color: #fefcf5;
    box-shadow: rgba(30, 30, 30, 0.8);
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
  }

#navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none; /* Prevent the navigation from blocking clicks */
  z-index: 9; /* Adjust the z-index as needed */
}

#left-arrow,
#right-arrow {
  width: 30px;
  height: 30px;
  background-color: #333;
  cursor: pointer;
  pointer-events: auto; /* Enable clicks on the arrows */
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
  border: 1px solid #333;
}

/* add border to div on hover*/
#left-arrow:hover,
#right-arrow:hover {
  border: 1px solid #fff;
}

#page-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.page-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #707070;
  margin: 0 4px;
  cursor: pointer;
}

.page-dot.active {
  background-color: var(--primary-color);
}

#book-name {
  margin-left: 20px;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
}

#title {
  position: relative;
  padding: 0px;
  overflow: hidden;
}

.image-container {
  position: relative;
  height: 30%;
  width: 100%;
  overflow: hidden; /* Added to hide overflow */
}

#title img {
  object-fit: cover;
  filter: brightness(50%); /* Adjust the percentage to control the dimness */
}

#title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 37px;
  text-align: center;
}

.row a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.row a:hover {
  color: var(--hover);
}

#navigation-bar {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}

.selected-book {
  width: 100%;
}

.checkbox-label {
  display: block;
  font-family: Georgia, serif;
  color: var(--text-color);
  margin-right: 20px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-label input[type="checkbox"]:checked + span {
  font-weight: bold;
}
